/* body color */
#B28AF8 * {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #b28af8;
  overflow-x: hidden;
}

.padding__0__8 {
  padding: 0 8rem;
}

.purple__color {
  background: #b28af8;
}
.dark__purple {
  background-color: #956ae1;
}
.white__fonts {
  color: #fff;
}
.padding__0__4 {
  padding: 0 4rem;
}
.btn-rounded {
  border-radius: 3rem;
  border: 2px solid white;
  padding: 0.5rem 4rem;
  text-decoration: none;
}

#hero__content {
  width: 100;
  height: 100vh;
}
/* background */
.hero__background {
  position: relative;
}
.back__circle .hero__circle {
  position: absolute;
  top: 5rem;
  left: 4%;
  width: 10%;
}
.back__blur .blur__circle {
  position: absolute;
  top: 30rem;
  width: 10%;
  left: 32%;
}
.back__blur2 .blur2__circle {
  position: absolute;
  left: 40%;
  top: 8rem;
  width: 10%;
}
.back__light .light__eclips {
  position: absolute;
  top: -8rem;
  right: -20%;
  width: 70%;
}
.back__dark .dark__eclips {
  position: absolute;
  top: -10rem;
  right: -10%;
  width: 70%;
}
.hero__design {
  position: absolute;
  top: 8rem;
  right: -9%;
  width: 50%;
}
/* end of background */

/* nav bar */
.nav__container {
  position: relative;
  z-index: 101;
}
.navbar-brand img {
  width: 60%;
  padding-left: 3.5rem;
}
.nav__hover {
  transition: 0.3s ease-in;
}
.nav__hover a:hover {
  transform: scale(1.01);
}
.lg__btn {
  display: flex;
  justify-content: flex-end;
}
.lg__btn a {
  color: #fff;
  transition: 0.3s ease-in;
}
.lg__btn a:hover {
  background-color: #fff;
}

/* end of navbar */

/* hero section */
.hero__text {
  padding: 9rem 4rem;
  position: relative;
  z-index: 101;
}
.hero__text h2 {
  font-size: 4rem;
  line-height: 1.5;
}
.hero__text span {
  font-size: 4.5rem;
}
.hero__para {
  font-size: 1.3rem;
}
.white__bg__btn {
  margin: 4rem 0;
  transition: 0.3s ease-in;
}
.white__bg__btn i {
  font-size: 2.5rem;
  position: absolute;
  margin: -0.5rem 1rem;
  transition: 0.3s ease-in;
}
.white__bg__btn i:hover {
  transform: scale(0.9);
}
.white__bg__btn a {
  background: #fff;
  transition: 0.3s ease-in;
}

.white__bg__btn a:hover {
  background: #b28af8;
  color: #fff;
}
.hero__image .hero__picture {
  display: none;
}
/* end of Hero */

/* Testimonials */
.trust__text {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4rem;
  line-height: 1.5;
}
.trust__text h2 {
  font-size: 3rem;
}

.caro__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caro__btn {
  font-size: 2rem;
  transition: 0.3s ease-in;
}
.caro__btn:hover {
  transform: scale(0.9);
}

/* ABOUT SECTION */
#about {
  width: 100%;
  height: 100%;
}
#about p {
  font-size: 1rem;
  line-height: 1.5;
}
.about__image {
  width: 100%;
}
.about__image img {
  width: 100%;
}
.border__round {
  padding: 4rem 4rem;
}
.border__round__numbers{
  border-radius: 5em;
  text-align: center;
}
.border__round__numbers h1{
  margin:  rem;
}
.border__round__numbers span{
  font-size: 1rem;
}
/* END OF ABOUT SECTION */

/* PORTFOLIO */
#portfolio{
  width: 100%;
  height: 100%;
}
.portfolio__container{
  padding-top: 4rem ;
}

@media (max-width: 991px) {
  .lg__btn a {
    display: none;
  }
  .hero__image .hero__picture {
    width: 90%;
    position: absolute;
    top: 2rem;
    margin: auto;
    display: block;
  }
  .hero__design {
    display: none;
  }
  .back__light .light__eclips {
    display: none;
  }
  .back__dark .dark__eclips {
    display: none;
  }
}

@media (max-width: 630px) {
  .hero__text {
    
    padding: 4rem 0;
    margin-top: 12rem;
  }
  .hero__text h2 {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
  }
  .hero__text span {
    font-size: 3rem;
  }
  .hero__para {
    font-size: 1.3rem;
    
  }
  .white__bg__btn {
    line-height: 6em;
    margin: auto;
  }
  .btn-rounded {
    padding: 0.5rem 2.5rem;
  }
  .navbar-brand img {
    width: 50%;
    padding-left: 0.1rem;
  }
  .white__bg__btn i {
    font-size: 2.5rem;
    position: absolute;
    transition: 0.3s ease;
    top: -2rem;
    left: 40%;
  }
  .trust__text {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    line-height: 1.5;
    padding: 0;
  }
  .trust__text h2 {
    font-size: 2rem;
    text-align: center;
  }
  .hero.__text p{
    text-align: left;
  }
  .caro__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin-top: -5rem;
  }
  .border__round{
    padding: 4rem 2rem;
  }
  .border__round__numbers{
    border-radius: 9rem;

  }
  .border__round__numbers h1{
    margin:4rem 0;
  }
}
